 <div class="container">
  <div class="col-md-12">
  <div class="page-header">
    <h1>Your ranked items</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Happiness</th>
        <th><%= link_to 'H Index', "/items/show" %></th>
        <th><%= link_to 'Delete All', 'delete_items', :method => :delete %></th>
      </tr>
    </thead>
<% if user_signed_in? %>
    <tbody>
      <% @items.order("created_at DESC").each do |p| %>
        <%= render "shared/items_table", item: p %> <!-- set variable item equal to p so that the partial can use it-->
      <% end %>
    </tbody>
  </table>
</div>
</div>
<%= render "shared/form" %>
<% end %>